
<!-- Require css -->

<header class="">
    <div class="container px-8 mx-auto">
        <nav class="flex flex-row justify-between items-center">
            <!-- Mobile menu button -->
            <div class="flex justify-start md:hidden">
                <button type="button" @click=" sidebar = ! sidebar" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                    <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                        <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                    </svg>
                </button>
            </div>
            <div class="flex justify-center md:justify-start">
                <a href="/" class="text-3xl font-semibold dark:text-white text-gray-800 hover:text-gray-300">CUBIC<sup>3</sub></a>
            </div>
            <div class="flex justify-end items-center">
                <div  class="p-8">
                    <button aria-label="Color Mode" @click=" dark_mode_change() " class="transition-colors duration-300 ease-in-out text-gray-800 dark:text-white  rounded-md hover:bg-gray-900 dark:hover:bg-gray-700 focus:outline-none">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6" x-show="!dark_mode">
                            <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-6 h-6" x-show="dark_mode">
                            <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                        </svg>
                    </button>
                </div>
                <div class="hidden md:flex items-center mt-2 -mx-2 sm:mt-0">
                {% if session['id'] %}
                    <a href="/logout" class="px-3 py-1 mx-2 text-sm font-semibold text-white transition-colors duration-200 transform border-2 bg-gray-800 rounded-md hover:bg-gray-700">Log Out</a>
                {% else %}
                    <a href="/login"  class="px-3 py-1 mx-2 text-sm font-semibold text-white transition-colors duration-200 transform border-2 bg-gray-800 rounded-md hover:bg-gray-700">Sign In</a>
                    <a href="/signup" class="px-3 py-1 mx-2 text-sm font-semibold text-white transition-colors duration-200 transform border-2 bg-gray-800 rounded-md hover:bg-gray-700">Sign Up</a>
                {% endif %}
                </div>

                <!-- Mobile menu button -->
                <div class="flex md:hidden">
                    <button type="button" class="text-gray-500 dark:text-gray-200 hover:text-gray-600 dark:hover:text-gray-400 focus:outline-none focus:text-gray-600 dark:focus:text-gray-400" aria-label="toggle menu">
                        <svg viewBox="0 0 24 24" class="w-6 h-6 fill-current">
                            <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </nav>
    </div>
</header>
